<h1>Products</h1>
<div class="grid">
  <div class="card">
    <div class="thumb">
      <img src="{{ p1.imageUrl }}" alt="{{ p1.name }}" />
    </div>
    <h3>{{ p1.name }}</h3>
    <p class="muted">$ {{ p1.price }}</p>
    <a href="/products/{{ p1.id }}">Details</a>
  </div>

  <div class="card">
    <div class="thumb">
      <img src="{{ p2.imageUrl }}" alt="{{ p2.name }}" />
    </div>
    <h3>{{ p2.name }}</h3>
    <p class="muted">$ {{ p2.price }}</p>
    <a href="/products/{{ p2.id }}">Details</a>
  </div>

  <div class="card">
    <div class="thumb">
      <img src="{{ p3.imageUrl }}" alt="{{ p3.name }}" />
    </div>
    <h3>{{ p3.name }}</h3>
    <p class="muted">$ {{ p3.price }}</p>
    <a href="/products/{{ p3.id }}">Details</a>
  </div>
</div>
